html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

em { font-style: italic; }


blockquote {
  line-height: 1.4;
  text-align: center;
  font-size: 1.75rem;
  margin: 2.75em 0 3em;
  border: none;
  padding: 0;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: italic;
  transition: margin 100ms;
  background: url(../img/underline.png) center bottom no-repeat;
  padding-bottom: 1.875em;
  font-family: "Colfax-Regular", sans-serif;
  }

blockquote p.quote {
  text-indent: 0;
  margin-bottom: .5rem;
  padding-top: 0.5em;
  font-style: italic; 
  color: #000;}

blockquote footer p {
  margin-bottom: 0;
  font-style: italic;
  font-size: 0.75em; }

.left { float: left; }
.right { float: right; }

html {
  background: #fff;
  color: #555;
  font-size: 18px;
  line-height: 1.5;
  font-family: sans-serif;
}

body {
  font-family: 'Noticia Text', serif;
}

body { background: #fff; }
/*
body, button, input, select, textarea {
  color: #333;
  font-size: 1em;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Noticia Text', serif;
  font-size: 15px;
  font-size: 1.5rem;
}*/

h1 {
  color: #000;
  font-size: 60px;
  line-height: 1.2;
  font-weight: bold; }

h2 {
  color: #777;
  font-size: 30px;
  line-height: 1.4; }

h3 {
  color: #000;
  font-size: 1.25em;
  line-height: 1.4;
  font-weight: bold;
  margin: 1.625em 0 .625em;
}

h4 {
  color: #000;
  font-size: 1.625em;
  line-height: 1.4;
  font-weight: bold;
  font-family: "Colfax-Regular", sans-serif;
  text-transform: uppercase;
  margin-bottom: .5em;
}

a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

a:hover {

}

img {
  max-width: 100%; 
}

small {
  font-size: 75%;
}
figure {
  max-width: 100%;
  margin: 0;
  margin: 1em 0;
}
.read-time {
  color: #999;
  font-style: italic;
  font-size: 75%;
  margin: 1.5em 0 3em;
}

.text-center { text-align: center; }

.t-1 { margin-top: 1em; }
.t-2 { margin-top: 2em; }
.b-1 { margin-bottom: 1em; }
.b-2 { margin-bottom: 2em; }

.col-2, .col-3, .col-4 {
  display: inline-block;
  position: relative;
  float: left;
}

.col-2 { width: 50%; }
.col-3 { width: 30%; margin-right: 3.3333333%; }
.col-4 { width: 25%; }


@media (max-width: 600px) {
  .col-2, .col-4 { width: 100%; }
}

.wrapper {
  width: 90%;
  max-width: 1040px;
  margin: 0 auto; 
}

.bold {
  font-weight: bold; 
}

nav {
  text-transform: uppercase; 
}

nav.header {
  padding-bottom: 60px; 
}

nav.footer {
  padding-top: 40px; 
}

nav ul {
  max-width: 600px;
  margin: 0 auto; 
}

nav li {
  display: inline-block;
  width: 33.333333%;
  text-align: center; 
}

nav a {
  display: block;
  padding: 40px 0;
  font-family: "Colfax-Regular", sans-serif;
}

.social {
  font-size: 1.5em;
  margin: 0;
}
.social a {
  color: black;
  display: inline-block;
  transition: color .2s;
  padding: 0;
  margin-right: 1%;
}
.social a:hover {

}

@media (max-width: 600px) {
  nav.header { padding-bottom: 20px; }
  nav.footer { padding-top: 20px; } 
}

@media (max-width: 440px) {
  nav { font-size: 14px; }
  nav a { padding: 20px 0; } 
}

.button {
  display: inline-block;
  width: auto; height: auto;
  color: #222;
  background-color: transparent;
  border: 2px solid #222;
  font-family: "Colfax-Regular", sans-serif;
  font-size: .6725em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 21px 34px;
  font-style: normal;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.button:hover {
  background: #222;
  color: white;
}

#work .work,
#about .about,
#cv .cv,
#process .process {
  color: #777; 
}

header {
  width: 100%;
  text-align: center;
  padding-bottom: 80px; 
}

header h1 {
  padding-bottom: 15px; 
}

.projects {
  text-align: center;
  margin: 0 auto;
  max-width: 600px; 
}

.projects h3 {
  color: #fff;
  position: absolute;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  left: 50%;
  width: 90%;
  margin-left: -45%;
  z-index: 2;
  top: 50%;
  margin-top: -18px;
  font-size: 2em;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: translateY(40px);
  -moz-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -o-transform: translateY(40px);
  transform: translateY(40px);
  height: 36px; 
}

.projects img {
  transition: all 0.15s;
  display: block;
  position: relative; 
}

.projects li {
  position: relative;
  margin-bottom: 40px;
  z-index: 1;
  overflow: hidden; 
}

.projects li:before {
  content: '';
  position: absolute;
  background: white;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 50%;
  margin-left: -50%; 
}

.projects li:hover img {
  opacity: .7;
}
/*
.projects li:hover h3 {
  opacity: 1;
  -webkit-animation: titleBounce .4s ease;
  -moz-animation:titleBounce .4s ease;
  -ms-animation:titleBounce .4s ease;
  -o-animation:titleBounce .4s ease;
  transform:
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards; 
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}*/

.project-block {
  margin: 12.5% 0;
}
.project-block p {
  margin-bottom: 1em;
}

#process .wrapper {
  max-width: 1080px;
  font-size: 24px; 
}
#process .col-4 {
  text-align: center;
}


#about .wrapper {
  max-width: 640px;
  font-size: 24px;
}

#about h1 {
  margin-bottom: 40px; 
  text-align: center;
}

#about p { padding-bottom: 1em; }

.zak {
  display: block;
  margin: 0 auto 80px; 
}

@media (max-width: 600px) {
  #about .wrapper {
    width: 80%;
    font-size: 18px;
  }
  #about h1 {
    margin-bottom: 20px;
  }
  .zak {
    width: 200px;
    margin-bottom: 40px; 
  } 
}

@media (max-width: 440px) {
  header h1 {
    padding-bottom: 0;
  }

  #about .wrapper {
    width: 90%;
    font-size: 16px; 
  }
  #about h1 {
    margin-bottom: 20px; 
  }
}

#cv .wrapper { max-width: 640px; }

#cv header {
  text-align: left;
  padding: 0 0 40px; 
}

#cv h1 {
  padding: 0;
  margin: 0;
}

#cv .section_title {
  color: #262626;
  padding-bottom: 10px;
  font-weight: bold; 
}

#cv h3 {
  color: #262626;
  font-size: 1.125em;
  margin-top: .5em;
}

#cv span {
  font-weight: bold;
  display: block;
  margin-bottom: .5em;
}

#cv li {
  padding-bottom: 2em; 
}

#cv section {
  padding-bottom: 20px; 
}
.cv-contact p {
  font-size: 24px;
  margin-bottom: .5em;
}

@media (max-width: 440px) {
  #cv header {
    padding: 0 0 20px; 
  }
}

#project {
}

#project .wrapper {
  max-width: 860px;
  font-size: 24px;
}

#project .entry-header {
  text-align: center;
  margin-bottom: .5em;
  padding-bottom: 0;
}

.project_title {
  padding-bottom: 40px; 
}

.project_intro {
  margin: 0 auto 40px;
  zoom: 1; 
}

.project_intro:before, .project_intro:after, .row:before, .row:after {
  content: '';
  display: table; 
}

.project_intro:after, .row:after {
  clear: both; 
}

.project_intro .summary {
  float: left;
  width: 55%;
  margin-right: 10%; 
}

.project_intro .summary p { padding-bottom: 1em; }
.project_intro ul { float: left; width: 35%; }
.project_intro li { padding-bottom: 1em; }
.project_intro h3 { padding-bottom: 5px; }


@media (max-width: 600px) {
  #project .wrapper {
    width: 80%;
    font-size: 18px;
  }
  #project h1 {
    margin-bottom: 20px;
  }
  .zak {
    width: 200px;
    margin-bottom: 40px; 
  } 
}

@media (max-width: 440px) {
  #project .wrapper {
    width: 90%;
    font-size: 16px; 
  }
  #project h1 {
    margin-bottom: 20px; 
  }
}

figure {
  clear: both;
}

figure img {
  margin: 0 auto;
  display: block;
  width: 100%;
}

figcaption {
  text-align: center;
  font-style: italic;
  padding: 30px 0 0;
  max-width: 70%;
  margin: 0 auto; 
}

figure:last-child { padding-bottom: 0; }

.caveat {
  font-size: .8em;
  line-height: 1.4; }

@media (max-width: 769px) {
  figure {
    padding-bottom: 40px; }

  figcaption {
    max-width: 100%; } 
}

@media (max-width: 600px) {
  .project_intro {
    margin: 0 auto 30px; 
  }
  .project_intro .summary {
    float: none;
    width: 100%;
    margin: 0;
    padding-bottom: 20px; 
  }
  .project_intro ul {
    width: 100%;
    float: none; 
  }
  figure { padding-bottom: 40px; }
}

@media (max-width: 440px) {
  .project_title { padding-bottom: 20px; }
  .project_intro { margin: 0 auto 10px; }
  figure { padding-bottom: 30px; } 
}

@media (max-width: 660px) {
  body {
    font-size: 16px;
    line-height: 1.4;
  }
  h1 { font-size: 48px; }
  h2 { font-size: 24px; }

  blockquote { 
    font-size: 1.25em;
    background: none;
    padding: 0;
  }

  .button {
    letter-spacing: 2px;
    padding: 12px 10px;
  }

  .intro { padding-bottom: 40px; }
  .intro h1 { font-size: 48px; }
  .intro h2 { font-size: 24px; }
  .projects li { margin-bottom: 20px; }
}

@media (max-width: 440px) {
  body {
    font-size: 14px;
    line-height: 1.4; 
  }
  h1 { font-size: 30px; }
  h2 { font-size: 18px; }
  h3 { font-size: 14px; }


  .intro { padding-bottom: 40px; }
  .intro h1 { font-size: 30px; padding-bottom: 0px; }
  .intro h2 { font-size: 18px; }
  .projects li { margin-bottom: 15px; }  
}

@keyframes titleBounce {
  0% {
    -webkit-transform: translateY(40);
    -moz-transform: translateY(40);
    -ms-transform: translateY(40);
    -o-transform: translateY(40);
    transform: translateY(40);
  }
  50% {
    -webkit-transform: translateY(-10);
    -moz-transform: translateY(-10);
    -ms-transform: translateY(-10);
    -o-transform: translateY(-10);
    transform: translateY(-10);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}